<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Registration Form</h3>
              <form (submit)="Onsubmit()" >
  
                <div class="row">
                    <div class="col-md-6 mb-4">
    
                        <div class="form-outline">
                        <input type="text" id="name" [(ngModel)]="user.name" [ngModelOptions]="{standalone: true}"  required class="form-control form-control-lg" />
                        <label class="form-label" for="name">Name</label>
                        </div>
                        
                    </div>

                    <div class="col-md-6 mb-4">
    
                        <h6 class="mb-2 pb-1">Gender: </h6>
      
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" [(ngModel)]="user.gender" [ngModelOptions]="{standalone: true}" id="femaleGender"
                            value="Female"  />
                          <label class="form-check-label" for="femaleGender">Female</label>
                        </div>
      
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" [(ngModel)]="user.gender" [ngModelOptions]="{standalone: true}" id="maleGender"
                            value="Male" />
                          <label class="form-check-label" for="maleGender">Male</label>
                        </div>
      
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" [(ngModel)]="user.gender" [ngModelOptions]="{standalone: true}" id="otherGender"
                            value="Other" />
                          <label class="form-check-label" for="otherGender">Other</label>
                        </div>
      
                    </div>
                  
                </div>
  
                
  
                <div class="row">
                  <div class="col-md-6 mb-4 pb-2">
  
                    <div class="form-outline">
                      <input type="email" id="emailAddress" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}"  class="form-control form-control-lg" />
                      <label class="form-label" for="emailAddress">Email</label>
                    </div>
  
                  </div>
                  <div class="col-md-6 mb-4 pb-2">
  
                    <div class="form-outline">
                      <input type="tel" id="phoneNumber" [(ngModel)]="user.phone" [ngModelOptions]="{standalone: true}"  class="form-control form-control-lg" />
                      <label class="form-label" for="phoneNumber">Phone Number</label>
                    </div>
  
                  </div>
                </div>

                <div class="row">

                    <div class="mb-4 col-md-6">
                        <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
                    </div>
                    
                    <div class="col-md-6 mb-4 pb-2" *ngIf="displayData===true">
                        
                        <div class="card p-2">
                        Name  : {{ user.name }} <hr>
                        Email : {{ user.email }}<hr>
                        Phone : {{ user.phone }}<hr>
                        Gender:{{ user.gender }}
                        </div>
                        
                    </div>
                </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>